
@{
    Layout = null;
}

@model AdminDto

<!doctype html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/login/css/style.css">

</head>
<body style="background-color:black">
	
  @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
  {
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 style="color:white;" class="heading-section">Admin Giriş</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap py-5">
						<h3 class="text-center mb-0">Hoşgeldin</h3>
						<p class="text-center">Lütfen Giriş Yapınız!</p>
						<form action="#" class="login-form">
							<div class="form-group">
								<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
								<input type="text" class="form-control" placeholder="Username" name="userName" required>
							</div>
							<div class="form-group">
								<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
								<input type="password" class="form-control" placeholder="Password" name="userPassword" required>
							</div>
							<div class="form-group">
								<button type="submit" class="btn form-control btn-success rounded submit px-3">Giriş</button>
							</div>
						</form>

							@if (!ViewData.ModelState.IsValid)
							{
								<div class="alert alert-danger">
									@Html.ValidationSummary(false, "", new { @class = "text-center" })
								</div>
							}

					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="~/login/js/jquery.min.js"></script>
	<script src="~/login/js/popper.js"></script>
	<script src="~/login/js/bootstrap.min.js"></script>
	<script src="~/login/js/main.js"></script>
}
</body>
</html>


